[submodule "cpp01/ex00/vendor/libmini"]
	path = cpp01/ex00/vendor/libmini
	url = https://github.com/Trantorian1/libmini.git
[submodule "cpp01/vendor/libmini"]
	path = cpp01/vendor/libmini
	url = https://github.com/Trantorian1/libmini.git
[submodule "cpp02/vendor/libmini"]
	path = cpp02/vendor/libmini
	url = https://github.com/Trantorian1/libmini.git
[submodule "cpp03/vendor/libmini"]
	path = cpp03/vendor/libmini
	url = https://github.com/Trantorian1/libmini.git
